---
import CartButton from "./CartButton.tsx";
---

<header style="background-color:#2d1e17; padding: 1rem 2rem; display: flex; justify-content: space-between; align-items: center; color: #fff;">
  <div>
    <h1 style="margin: 0; fontSize: 1.5rem; color: #e2b05b;">Logo Emily Doces</h1>
  </div>

  <CartButton client:load />
</header>
